body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------------------------------------------Searchbar------------------------------------------------------------------- */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh; /* Adjust as needed */
}

textarea {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none; 
}

/* Style for focused input */
textarea:focus {
  outline: none;
  border-color: #007bff; /* Change the color as per your design */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change the color and intensity as per your design */
}

/* Style for placeholder text */
textarea::placeholder {
  color: #999; /* Change the color as per your design */
}

/* Style for disabled input */
textarea:disabled {
  background-color: #f4f4f4; /* Change the color as per your design */
  cursor: not-allowed;
}

form button {
  background: #1aac83;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; 
}


.search {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.response {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.response h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.response p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loading img {
  width: 100px;
  height: 100px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 250px 0;
  height:30px;
  width: 500px;
}
.home-container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Poppins";

}

.banner {
  flex: 1;
  background-image: url('./assets/banner-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.2);
  color: white;
  font-size: 50px;
  font-family: "Poppins";
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
}

.rdt_TableRow:hover {
  filter: brightness(90%);
}

.home-content {
  flex: 2;
  background-color: #e0e0e0;
  font-family: "Poppins";
  text-align: center;
  padding-top: 40vh;
}

.IdeaViewHeader {
  text-align: center;
}

.circle-svg {
  display: block;
  margin: 10px auto;
  max-height: 100px;
}
.circle-svg text {
  text-align:center;
  color:black;
  font-size:10px
}
.circle-svg path.percent {
  stroke: #6f6fff;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
    stroke: #c4c4c4;
    fill: none;
    stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100; 
  }
}

.Statline {
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.Statline-block {
  width: 100px;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}

/* Navbar styling */
header {
  background: #2b3035;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a, header a:hover, header a:active, header a:visited {
  color: rgba(255, 255, 255, 0.716);
  text-decoration: none;
}

.filler{
  padding-right: 21vw;
}